* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: #f3f5fc;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 20px;
  padding: 0 40px;
}

.content__logo img {
  width: 100px;
  height: 48px;
  margin: 40px 0;
}

.content__input {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.content__input form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 0 20px 0;
}

.content__input #input__message {
  width: 100%;
  height: 100%;
  border: none;
  background: #f3f5fc;
  color: #0a3871;
  font-size: 18px;
  font-weight: 400;
  resize: none;
  outline: none;
}

.input__info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.input__info img {
  height: 16px;
  width: 16px;
}

.input__info label {
  color: #868e96;
  font-size: 12px;
}

.input__buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.input__encrypt {
  background: #0a3871;
  height: 67px;
  width: 100%;
  border: #000 solid 1px;
  border-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.input__encrypt:hover {
  background: #072c58;
}

.input__decrypt {
  background: #d8dfe8;
  height: 67px;
  width: 100%;
  border: #0a3871 solid 1px;
  border-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #0a3871;
  font-size: 16px;
  cursor: pointer;
}

.input__decrypt:hover {
  background: #c6ccd4;
}

.content__output {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
  background: white;
  width: 650px;
  border-radius: 28px;
  margin: 20px 0;
  padding: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 24px 32px;
}

.output__noempty {
  display: none;
  width: 100%;
  height: 100%;
  gap: 10px;
  flex-direction: column;
  overflow-y: auto;
}

.output__noempty label {
  overflow-y: auto;
  height: 90%;
  color: #495057;
  font-size: 18px;
}

.output__empty {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.output__empty p {
  font-size: 14px;
  color: #495057;
}

.output__clipboard {
  background: white;
  height: 67px;
  width: 100%;
  border: #0a3871 solid 1px;
  border-radius: 18px;
  color: #0a3871;
  font-size: 16px;
  cursor: pointer;
}

.output__clipboard:hover {
  background: #d8dfe8;
}

/* Vista tablet y móvil */
@media (max-width: 900px) {
  .content {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .content__logo img {
    width: 100px;
    height: 35px;
    margin: 30px 0 0 0;
  }

  #output__img {
    display: none;
  }

  .content__input {
    margin: 0px 0;
  }

  .content__input #input__message {
    height: 200px;
  }

  .input__encrypt,
  .input__decrypt,
  .output__clipboard {
    height: 60px;
  }

  .content__output {
    width: 100%;
    max-height: 400px;
    padding: 30px 20px;
    margin: 0 0 20px 0;
  }
}

/* Vista móvil */
@media (max-width: 455px) {
  .content {
    padding: 0 20px;
  }

  .input__encrypt,
  .input__decrypt,
  .output__clipboard {
    height: 50px;
  }

  .input__buttons {
    flex-direction: column;
    gap: 10px;
  }
}
